@import '~@angular/material/theming';

$mat-app-primary: mat-palette($mat-cyan, 500);
$mat-app-accent: mat-palette($mat-orange, A200);

$mat-app-theme: mat-light-theme($mat-app-primary, $mat-app-accent);

@function mat-theme-color($type: primary, $hue: default) {
  $color: map-get($mat-app-theme, $type);
  @return mat-color($color, $hue);
}
