<table mat-table [dataSource]="dataSource" matSort>
    <tr mat-header-row *matHeaderRowDef="['checked-amount', 'bulk-action']; sticky: true" [class.bg-primary]="selection.selected.length"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let req; columns: displayedColumns;"
        (click)="selection.toggle(req.key)"
    ></tr>

    <ng-container matColumnDef="checked-amount">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length-1" class="extra-header">
            {{ selection.selected.length ? (selection.selected.length + ' request' + (selection.selected.length === 1 ? '' : 's') + ' selected') : 'Requests' }}
        </th>
    </ng-container>

    <ng-container matColumnDef="bulk-action">
        <th mat-header-cell *matHeaderCellDef>
            <div
                *ngIf="selection.selected.length"
                class="container"
            >
                <mat-slide-toggle
                    [checked]="true"
                    (change)="toggleSkipState($event, selection.selected)"
                ></mat-slide-toggle>
                <button mat-icon-button
                    color="warn"
                    (click)="remove($event, selection.selected)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </th>
    </ng-container>

    <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
                (change)="masterToggle()"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
            ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let req">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="selection.toggle(req.key)"
                [checked]="selection.isSelected(req.key)"
            ></mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Url</th>
        <td mat-cell *matCellDef="let req" class="long_url">
            {{ req.key }}
        </td>
    </ng-container>

    <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Method</th>
        <td mat-cell *matCellDef="let req">
            {{ req.method }}
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let req" [class.text-warn]="!isSuccessStatus(req.status)">
            {{ req.status }}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let req">
            <div class="container">
                <mat-slide-toggle
                    (click)="$event.stopPropagation()"
                    [checked]="!req.skip"
                    (change)="toggleSkipState($event, [ req.key ])"
                ></mat-slide-toggle>
                <button mat-icon-button
                    (click)="$event.stopPropagation()"
                    color="warn"
                    (click)="remove($event, [ req.key ])"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>
</table>
