@import "helpers";

table {
  @include mat-elevation(2);
  max-height: 100%;
  width: 100%;
}

.mat-column-actions {
  width: 160px;
  text-align: center;
}

.mat-column-checkbox {
  width: 80px;
  text-align: center;
}
