@import "helpers";

table {
    @include mat-elevation(2);
    max-height: 100%;
    width: 100%;
}

.mat-column-actions,
.mat-column-bulk-action {
    width: 120px;
    text-align: right;
}

.mat-column-checkbox {
    width: 60px;
}

.extra-header {
    font-size: large;
    font-weight: 200;
}

.long_url {
    word-break: break-all;
}

.container {
    display: flex;
    justify-content: center;
    align-items:center;
}
